RewriteEngine on
RewriteRule ^$ /_site/ [L]

RewriteCond ${REQUEST_FILENAME} !-f
RewriteCond ${REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /_site/$1

RewriteCond %{SCRIPT_FILENAME} -d
RewriteRule $_site/(.*[^/])$ http://www.georgeschneeloch.com/$1/ [R=301]